<h1>Whisper Zone</h1>

<hr>

<section>
  <div class="row">
      <a href="#" class="button button-primary two columns">Home</a>
      <a href="/add" class="button button-primary two columns">New Whisper</a>
      <a href="/login" class="button button-primary two columns">Log In</a>
      <a href="/logout" class="button button-primary two columns">Log Out</a>
  </div>
</section>
<hr>

<div class="row">
  {{#each post}}
  <div class="four columns postbox">

    <section class="titlebox">
      <h3>{{title}}</h3>
    </section>

    <section class="bodybox">
      <p>You hear a whisper...</p>
      <h3>{{body}}</h3>
    </section>

    <section class="authorbox">
      <p>Whispered by: {{author}}</p>
    </section>
  </div>
  {{/each}}
</div>



<p>TESTING AREA:</p>
<p> Username: {{user.username}} </p>





<!-- <div class="row">
  <form class="" action="index.html" method="post">
    <input class="button button-primary" type="submit" name="" value="home">
  </form>
  <form class="" action="index.html" method="post">
    <input class="button button-primary" type="submit" name="" value="New Whisper">
  </form>
  <form class="" action="index.html" method="post">
    <input class="button button-primary" type="submit" name="" value="Log In">
  </form>
  <form class="" action="index.html" method="post">
    <input class="button button-primary" type="submit" name="" value="Log Out">
  </form>
</div> -->
