<h1>Whisper Login</h1>

<hr>

<section>
  <div class="row">
    <form action="/login" method="post">
      <input class="four columns" type="text" name="username" value="" placeholder="Username">
      <input class="four columns" type="password" name="password" value="" placeholder="Password">
      <input class="two columns" type="submit" name="" value="Log In">
    </form>
  </div>
</section>
<a href="/signup">Don't have an account? Sign up.</a>
