<h1>Whisper Signup</h1>

<hr>
<section>
  <div class="row">
    <form action="/signup" method="post">
      <input class="four columns" type="text" name="username" value="" placeholder="Username">
      <input class="four columns" type="text" name="password" value="" placeholder="Password">
      <input class="two columns" type="submit" name="" value="Sign Up">
    </form>
  </div>
</section>
<a href="/login">Already have an account? Log In.</a>
