<section class="main-header">
  <h1 class="main-header-text">Whisper Signup</h1>
  <p>"You feel a chilling urge to follow the voices"</p>
</section>

<section>
  <div class="row">
    <form action="/signup" method="post">
      <input class="three columns offset-by-one" type="text" name="username" value="" maxlength="14" placeholder="New Username">
      <input class="three columns" type="password" name="password" value="" placeholder="New Password">
      <input class="two columns login-buttons" type="submit" name="" value="Sign Up">
    </form>
    <form action="/login" method="get">
      <input class="three columns login-buttons" type="submit" name="" value="Have an account? Log In">
    </form>
  </div>
</section>
