body {
  background-color: #e6ecf0;
}

/*Header gif: http://imgur.com/gallery/n3D6h */
.main-header {
  color: #FFFFFF;
  text-align: center;
  margin: 0 0 20px 0;
  height: 170px;
  background-color: #000000;
  background-image: url(http://i.imgur.com/js9cVRC.gif);
  background-size: contain;
  background-repeat: no-repeat;
}

.row .button-error {
  color: #FFFFFF;
  background-color: #b71c1c;
  font-size: 20px;
  border: 1px solid #000000;
}

/*Shadow effect assistance found here: https://codepen.io/juanbrujo/pen/yGpAK*/
.main-header-text {
  font-size: 80px;
  letter-spacing: 15px;
  margin: 0;
  color: #FFFFFF;
    letter-spacing: .05em;
    text-shadow:
      4px 4px 0px #9099A2,
      7px 7px 0px rgba(0, 0, 0, 0.2);
}

.main-header p {
  font-size: 25px;
}

.main-button-area {
  height: 60px;
}

.row .button-primary {
  background-color: #6D7993;
  border: 1px solid #000000;
}

.postbox {
  border: 1px solid #000000;
  text-align: center;
}

.titlebox {
  background-color: #6D7993;
  padding: 10px 0 20px 0;
}

.titlebox h3 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.bodybox {
  background-color: #FFFFFF;
  padding: 30px 0 30px 0;
}

.bodybox h3 {
  margin: 0;
  padding: 0;
}

.authorbox {
  background-color: #D5D5D5;
}

.authorbox p {
  margin: 0;
  padding: 0;
}

.row .button-post {
  margin: 10px;
}

.row .button-post-delete {
  margin: 10px;
  background-color: #b71c1c;
}

.delete-yes input {
  margin-top: 20px;
  color: #FFFFFF;
  background-color: #b71c1c;
}

.delete-no input{
  margin-top: 20px;
  color: #FFFFFF;
  background-color: #6D7993;
}

form .post-button {
  color: #FFFFFF;
  background-color: #6D7993;
}

form .login-buttons:last-child{
  margin-left: 30px;
  color: #FFFFFF;
  background-color: #6D7993;
}

.login-bottom-box {
  background-color: black;
  height: 30px;
}
