.main-header {
  color: #FFFFFF;
  text-align: center;
  margin: 0 0 20px 0;
  height: 170px;
  background-color: #6D7993;
}

.row .button-error {
  color: #FFFFFF;
  background-color: #b71c1c;
  font-size: 20px;
  border: 1px solid #000000;
}

.main-header-text {
  font-size: 80px;
  letter-spacing: 15px;
  margin: 0;
}

.main-header p {
  font-size: 25px;
}

.main-button-area {
  height: 60px;
}

.row .button-primary {
  background-color: #6D7993;
  border: 1px solid #000000;
}


.postbox {
  border: 1px solid #000000;
  text-align: center;
}

.titlebox {
  background-color: #6D7993;
  padding: 10px 0 20px 0;
}

.titlebox h3 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.bodybox {
  background-color: #9099A2;
  padding: 30px 0 30px 0;
}

.bodybox h3 {
  margin: 0;
  padding: 0;
}

.authorbox {
  background-color: #D5D5D5;
}

.authorbox p {
  margin: 0;
  padding: 0;
}

.row .button-post {
  margin: 10px;
}

.row .button-post-delete {
  margin: 10px;
  background-color: #b71c1c;
}
