<section class="main-header">
  <h1 class="main-header-text">Create Whisper</h1>
  <p>"The whispers grow louder..."</p>
</section>

<section>
  <div class="row">
    <form action="/addpost" method="post">
      <input class="ten columns offset-by-one" type="text" name="title" value="" placeholder="Title">
      <textarea class="ten columns offset-by-one" name="body" maxlength="140" placeholder="What is your secret?"></textarea>
      <input class="six columns post-button offset-by-three" type="submit" name="" value="Post!">
    </form>
  </div>
  <a href="/" class="button six columns button-post offset-by-three back-button">Home</a>
</section>
