<section class="main-header">
  <h1 class="main-header-text">Delete Whisper</h1>
  <p>"The whispers slowly fade..."</p>
</section>

<div class="row">
  <div class="eight columns offset-by-two postbox">

    <section class="titlebox">
      <h3>{{post.title}}</h3>
    </section>

    <section class="bodybox">
      <p>You hear a whisper...</p>
      <h3>{{post.body}}</h3>
    </section>

    <section class="authorbox row">
      <section>
        <form class="offset-by-two four columns delete-yes" action="/{{post.id}}/deletePost" method="post">
            <input class="btn twelve columns delete-yes" type="submit" name="" value="Delete Post">
        </form>
        <form class="four columns delete-no" action="/" method="get">
          <input class="twelve columns" type="submit" name="" value="Go Back">
        </form>
      </section>
    </section>
  </div>
</div>
